

/* footer */
footer.footer {
  text-align: center;
  padding: 5px 0;

  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

.bs-alert-old-docs {
  margin: 60px 0 0;
}

.alert-danger, .alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert, .alert h4 {
  color: #c09853;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}



/* login */
.form-signin {
  max-width: 330px;
  padding: 120px 0 0 0;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  /* background-color: #777;
background-position: 50% 48%;
  */
  background-image: url(../images/272_splash_frontpage.jpg);
  background-size: cover;

}


.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}



/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}


/**
logo
*/

.logo {
  display: block;
  position: relative;
  float: left;
  height: 36px;
  font-family: 'Open Sans Condensed','Lucida Sans','Lucida Grande',sans-serif !important;
  color: #515151;
  text-align: right;
  font-size: 120%;
  background: url(../images/Icloud_logo.PNG) no-repeat;
  font-weight: lighter;
  line-height: 180%;
  width: 123px;
  opacity: 1;
  margin-top: 8px;
  background-size: 123px 36px;
  -webkit-transition: opacity .2s ease-in;
  -moz-transition: opacity .2s ease-in;
  -o-transition: opacity .2s ease-in;
  -ms-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;
}

/**
nav add menu from github

.header-nav{list-style:none}
.header-nav-item{float:left}
.header-nav-item.active
.dropdown-menu-content{display:block}
.header-nav-item.active
.tooltipped:before,.header-nav-item.active .tooltipped:after{display:none}
.header-nav-link{display:block;padding:4px 8px;font-size:13px;font-weight:bold;line-height:20px;color:#333}
.header-nav-link:hover,.header-nav-link:focus{color:#4183c4;text-decoration:none}
.header-nav-link:hover .dropdown-caret,.header-nav-link:focus .dropdown-caret{border-top-color:#4183c4}
.user-nav{margin-right:-8px}
.user-nav .header-nav-link{height:28px}
.user-nav .octicon{width:18px;height:18px;text-align:center}
.user-nav .octicon-inbox{font-size:20px}
.user-nav .octicon-sign-out{padding-top:2px}
.user-nav .octicon-plus{float:left;width:16px;height:18px;font-size:18px}
.user-nav .avatar{float:left;margin-right:5px}
.user-nav .name{float:left;white-space:nowrap}
.sign-out-button{background:none;border:0}
.header-actions{float:right;margin-top:-3px;margin-bottom:-3px}
.header-actions .button{margin-left:5px}
.enterprise .header{background-color:#2a2c2e;border-bottom-color:#121213}
.is-stats .enterprise .header{box-shadow:inset 0 1px 0 rgba(255,255,255,0.05)}
.enterprise .header-logo-wordmark,.enterprise .header-logo-invertocat,.enterprise
.header-nav-link{color:#c8c8ca}.enterprise .header-logo-wordmark:hover,.enterprise
.header-logo-wordmark:focus,.enterprise .header-logo-invertocat:hover,.enterprise .header-logo-invertocat:focus,.enterprise .header-nav-link:hover,.enterprise .header-nav-link:focus{color:#fafafa}
.enterprise .header-nav-link:hover .dropdown-caret,.enterprise .header-nav-link:focus .dropdown-caret{border-top-color:#fafafa}
.enterprise .notification-indicator .mail-status{border-color:#2a2c2e}
*/

/*
special log
*/
.demo-loading .show, .demo-loading {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

/*
首页标题
*/
.text-heading {
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 135px;
}

/*
首页页面插图
*/
.front-image {
  display: block;
  max-width: 100%;
  height: auto;
}

/*
首页背景
*/
.static-header {
  /*
  background: url('/app/images/intro_background.jpg') no-repeat center center;

  */
  background: url('/app/images/clouds.jpg') no-repeat center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  min-height: 900px;
  position: relative;
}

.light {
  color: #fff;
}

.fbtn {
  border: 1px solid #fff;
  font-size: 13px;
  border-radius: 3px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 700;
  padding: 15px 40px;
  min-width: 162px;
  max-width: 100%;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

.avatar {
  max-width:100%;
  max-height:100%;
}


.hide {
  opacity: 0;
}

.divide-header {
  font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  clear: both;
}

.line-space {
  font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
  margin: 2.5px;
  clear: both;
}


.jumbotron {
  padding: 30px 15px;
  margin-bottom: 30px;
  color: inherit;
  background:transparent;
  color: #7aa4cc;
}

/* 创建项目中的成员列表 */
.item-list {
  height: 284px;
  overflow: auto;
  list-style-type: none;
  /*background: #eee; */
  margin-bottom: 1px;
  border: 1px solid #ddd;
  line-height: 1.5;
}

.item-list .delete {
  display: none;
  float: right;
  margin-right: 20px;
}

.item-list li:hover {
  color: #a33024;
  background: #fae5e5;
  transition: all .3s ease-out;
  cursor: pointer;
}

.item-list li:hover .delete {
  display: inline;
}

.item-list li:hover .delete:hover {
  color: #602a25;
}

/* auto complete */
.suggestions-list {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-size: 14px;
}
.suggestions-list li {
    color: #333333;
    font-weight: 600;
    padding: 4px 25px;
    font-size: 1em;
    cursor: pointer;
    background: #f2f2f2;
    border-bottom: 1px solid #dddddd;
}
.suggestions-list li:hover {
    background: #dddddd;
}
.suggestions-list li:active,
.suggestions-list li.active {
    color: #20a28e;
    background: #dddddd;
}
.suggestions-list:focus{
    outline:none;
}


.hideOverflow
{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:100%;
    display:block;
}

.navbar-nav > li > div {
  padding-top: 15px;
  padding-bottom: 10px;
  line-height: 20px;
  margin: 0 5px;
}

/* for tabs */
.ng-hide, [ng-cloak] {
    display: none !important;
}

.ng-show {
    display: block !important;
}


.repo-list-stats {
margin-top: 6px;
float: right;
font-size: 12px;
font-weight: bold;
color: #888;
}

.repo-list-name {
margin: 0 0 8px;
font-size: 20px;
line-height: 1.2;
}

.repo-list-description {
max-width: 550px;
margin-top: 8px;
margin-bottom: 0;
font-size: 14px;
color: #666;
}