<div class="splitcontentright">

    <h3><a href="/activity?from=2014-12-09&amp;user_id=3">Activity</a></h3>

    <p>
        Reported issues: 5
    </p>

    <div id="activity">
        <h4>12/09/2014</h4>
        <dl>
            <dt class="issue">
                <span class="time">07:16 AM</span>
                <span class="project">中易开发测试云</span>
                <a href="/issues/9">功能 #9 (新建): 首页设计</a></dt>
            <dd><span class="description">简单设计即可</span></dd>
            <dt class="issue">
                <span class="time">07:12 AM</span>
                <span class="project">中易开发测试云</span>
                <a href="/issues/8">功能 #8 (新建): 个人中心前台Demo</a></dt>
            <dd><span class="description"></span></dd>
            <dt class="issue-edit">
                <span class="time">07:04 AM</span>
                <span class="project">mms</span>
                <a href="/issues/2#change-3">功能 #2 (进行中): 添加用户登录功能</a></dt>
            <dd><span class="description">进行中</span></dd>
        </dl>
        <h4>12/04/2014</h4>
        <dl>
            <dt class="wiki-page">
                <span class="time">10:57 AM</span>
                <span class="project">goodcode</span>
                <a href="/projects/goodcode/wiki/Wiki/7">Wiki edit: Wiki (#7)</a></dt>
            <dd><span class="description"></span></dd>
            <dt class="wiki-page">
                <span class="time">10:54 AM</span>
                <span class="project">goodcode</span>
                <a href="/projects/goodcode/wiki/Wiki/6">Wiki edit: Wiki (#6)</a></dt>
            <dd><span class="description"></span></dd>
            <dt class="wiki-page">
                <span class="time">10:54 AM</span>
                <span class="project">goodcode</span>
                <a href="/projects/goodcode/wiki/Wiki/5">Wiki edit: Wiki (#5)</a></dt>
            <dd><span class="description"></span></dd>
            <dt class="wiki-page">
                <span class="time">10:51 AM</span>
                <span class="project">goodcode</span>
                <a href="/projects/goodcode/wiki/Jenkins/1">Wiki edit: Jenkins (#1)</a></dt>
            <dd><span class="description"></span></dd>
            <dt class="wiki-page">
                <span class="time">10:51 AM</span>
                <span class="project">goodcode</span>
                <a href="/projects/goodcode/wiki/Wiki/4">Wiki edit: Wiki (#4)</a></dt>
            <dd><span class="description"></span></dd>
            <dt class="wiki-page">
                <span class="time">10:49 AM</span>
                <span class="project">goodcode</span>
                <a href="/projects/goodcode/wiki/Mysql-mariadb/1">Wiki edit: Mysql-mariadb (#1)</a></dt>
            <dd><span class="description"></span></dd>
            <dt class="wiki-page">
                <span class="time">10:49 AM</span>
                <span class="project">goodcode</span>
                <a href="/projects/goodcode/wiki/Wiki/3">Wiki edit: Wiki (#3)</a></dt>
            <dd><span class="description"></span></dd>
        </dl>
    </div>

    <p class="other-formats">Also available in:  <span><a class="atom" href="/activity.atom?key=e84015b0d123549d0da979233c7d51e13f489820&amp;user_id=3" rel="nofollow">Atom</a></span>
    </p>

</div>