<div>
    <div class="panel panel-default">
        <div class="panel-body">
            <img alt="" class="avatar" src="https://avatars1.githubusercontent.com/u/3353245">
            <h1>oswaldl </h1>


            <div>
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 1
                </button>

                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> 2
                </button>

            </div>

            <span class="label label-default">2014-12-19加入</span>

            <div>
                <div class="row">
                    <div class="col-sm-9 col-md-9 col-lg-9 line-space">
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 创建项目
                        </button>
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9 line-space">
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 申请服务
                        </button>
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9 line-space">
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 历史浏览
                        </button>
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9 line-space">
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 归档项目
                        </button>
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9 line-space">
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 归档服务
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>



</div>