<div>
    <div class="panel panel-default">
        <div class="panel-body">
            <img alt="" class="avatar" src="/app/images/beijinwang.png">
            <h1>oswaldl </h1>


            <div>
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 1
                </button>

                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> 2
                </button>

            </div>

            <span class="label label-default">2014-12-19加入</span>

            <div class="list-group line-space">
                <a ui-sref="bone4.create_project" class="list-group-item">创建项目</a>
                <a href="#" class="list-group-item">申请服务</a>
            </div>


        </div>
    </div>



</div>