<div>



    <div>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div ability-chart></div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <span class="label label-info">项目数量：2</span>
                <span class="label label-info">所在团队：8 ，其中5人在线</span>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
                <span class="label label-warning">可用项目5个，已经使用2个</span>
                <span class="label label-warning">可用服务5个，已经使用3个</span>
                <span class="label label-warning">可用虚拟机3台，已经使用0台</span>
                <span class="label label-warning">可用空间10G，已经使用1.5G</span>
            </div>
        </div>
    </div>
</div>