<h4>項目信息</h4>
<dl>
    <dt class="wiki-page">
        <span class="project" ui-sref="site.project">goodcode</span>
        <span class="time">【<a href="#">10 </a>未处理问题单，共<a href="#">22</a>个】</span>
        <dd><span class="description">已经使用120个小时，还剩下4个小时了</span></dd>
    </dt>
    <dt class="wiki-page">
        <span class="project" ui-sref="site.project">cloud_one</span>
        <span class="time">【<a href="#">10 </a>未处理问题单，共<a href="#">22</a>个】</span>
        <dd><span class="description">已经使用120个小时，还剩下4个小时了</span></dd>
    </dt>
</dl>