


    <div class="static-header">
        <div class="text-heading light">

            <div class="jumbotron">
                <h1>A Cloud for Developers</h1>
                <p>Work on net and be socail</p>
                <!--<p class="animated hiding" data-animation="fadeInDown" data-delay="500">for business and collaboration</p>-->
                <ul class="list-inline" ng-hide="isLogged">
                    <li>
                        <a href="#" ui-sref="anon.regist"  class="fbtn btn-default animated bounceIn visible" data-animation="bounceIn" data-delay="700" id="demo-button" data-toggle="modal" data-target="#globalModal">
                            Sign up now
                        </a>
                    </li>
                    <li>
                        <a href="#" ui-sref="anon.login"  class="fbtn btn-default animated bounceIn visible" data-animation="bounceIn" data-delay="900">
                            Login now
                        </a>
                    </li>
                </ul>
            </div>



        </div>

        <!-- Three columns of text below the carousel -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img src="/app/images/projectinfo.png"  class="front-image" alt="Generic placeholder image">
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div>

    </div><!-- /.container -->
