<section>
    <hr class="featurette-divider">

    <!--<div class="row featurette">-->
        <!--<div class="col-md-5">-->
            <!--<img class="featurette-image img-responsive" src="/app/images/xuzong.jpg" alt="Generic placeholder image">-->
        <!--</div>-->
        <!--<div class="col-md-7">-->
            <!--<h2 class="featurette-heading">ALM专家陪伴. <span class="text-muted">微软MVP专家.</span></h2>-->
            <!--<p class="lead">爸爸妈妈再也不用担心我的项目延期了</p>-->
        <!--</div>-->
    <!--</div>-->


    <div class="container">
        <div class="section-content row">
            <div class="col-sm-6 pull-right" data-animation="fadeInRight">
                <img src="/app/images/xuzong.jpg" class="img-responsive" alt="process 2"><br><br>
            </div>
            <div class="col-sm-6" data-animation="fadeInLeft">
                <br><br>
                <article>
                    <h3>适用的人群</h3>

                    <p>假如您是一位项目经理，您可以在这里找的异地开发管理，托管代码，构建并测试项目的方案.</p>

                    <p class="thin">假如您是一位企业老板，需要构建私有的开发云，我们可以合作.</p>

                    <p class="thin">假如您是一个资深的ALM专家，这里是您实践自己思想的地方，我们非常乐意和您讨论哪些方法论的事情.</p>

                    <p class="thin">假如您是一个自由职业者，这里可以是您另一个淘金的地方，您可以在这里找到适合自己的虚拟团队，一起开发和成长.</p>


                    <br>
                    <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></article>
            </div>

        </div>
    </div>

</section>