<section>

    <hr class="featurette-divider-small">


    <div class="container">

        <br>

        <div class="section-header center" data-animation="fadeInDown">



            <!--<div class="sub-heading">-->
                <!--我们使用的是开源成熟的ALM工具-->
            <!--</div>-->
            <div class="col-sm-6" data-animation="fadeInLeft">
                <img src="/app/images/cloudnow.jpeg" class="img-responsive" alt="process 3">
            </div>
            <div class="col-sm-6" data-animation="fadeInRight">
                <br><br>
                <article>

                    <h2>基础设施零等待，加快产品上市周期</h2>

                    <p class="thin">开箱即用，支持流行的开源工具.</p>

                    <p class="thin">资源按需使用，总体拥有成本低. </p>

                    <p class="thin">安全、高可用.</p>
                </article>
                <br><br><br><br>
            </div>
    </div>
</section>