<section>
    <hr class="featurette-divider">

    <!--<div class="row featurette">-->
        <!--<div class="col-md-5">-->
            <!--<img class="featurette-image img-responsive" src="/app/images/xuzong.jpg" alt="Generic placeholder image">-->
        <!--</div>-->
        <!--<div class="col-md-7">-->
            <!--<h2 class="featurette-heading">ALM专家陪伴. <span class="text-muted">微软MVP专家.</span></h2>-->
            <!--<p class="lead">爸爸妈妈再也不用担心我的项目延期了</p>-->
        <!--</div>-->
    <!--</div>-->


    <div class="container">
        <div class="section-content row">
            <div class="col-sm-6 pull-right" data-animation="fadeInRight">
                <img src="/app/images/OpenCloud.jpg" class="img-responsive" alt="process 2" style="width: 540px; height: 300px;"><br><br>
            </div>
            <div class="col-sm-6" data-animation="fadeInLeft">
                <br><br>
                <article>
                    <h3>端到端覆盖开发过程</h3>

                    <p class="thin">支持不同开发模式.</p>

                    <p class="thin">支持混合云部署.</p>

                    <p class="thin">丰富的研发数据统计.</p>

                    <br>
                    <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></article>
            </div>

        </div>
    </div>

</section>