<section>

    <hr class="featurette-divider-small">


    <div class="container">

        <br>

        <div class="section-header center" data-animation="fadeInDown">

            <h2>我们的目标是构建完整的软件开发社区，提供开发，构建，测试服务，托管服务.</h2>

            <div class="sub-heading">
                我们使用的是开源成熟的ALM工具
            </div>
            <div class="col-sm-6" data-animation="fadeInLeft">
                <img src="/app/images/opensource.png" class="img-responsive" alt="process 3">
            </div>
            <div class="col-sm-6" data-animation="fadeInRight">
                <br><br>
                <article>

                    <p>我们还在继续提供更先进的方法论，并结合我们的工具实践/落地，最后呈现给大家.</p>

                    <p class="thin">我们创新之处在于对工具进行抽象，并按照敏捷的开发思想展现给开发人员. </p>

                    <p class="thin">我们还在做研发能力分析，您个人能力在这里将被充分分析，您可以在这里看到自己未来的职业规划.</p>
                </article>
                <br><br><br><br>
            </div>
    </div>
</section>