<div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h1>StudioPortal <span class="label label-default"></span></h1>
            <div class="line-space">
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 1
                </button>

                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> 2
                </button>

            </div>

            <div>
                <span class="label label-default line-space">项目创建人：oswaldl</span>
                <span class="label label-default line-space">项目时间：2014-12-19</span>
                <span class="label label-default line-space">项目运行时长：182天</span>
                <span class="label label-default line-space">项目标签：andriod,游戏</span>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-body">
            <!-- dropdown -->
            <div class="btn-group" dropdown is-open="status.isopen">
                <div class="row">
                    <div class="col-sm-9 col-md-9 col-lg-9 line-space">
                        <button type="button" class="btn btn-default">版本发布</button>
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9 line-space">
                        <button type="button" class="btn btn-default">归档项目</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>