<div class="container">

    <div ui-view="nav"></div>



    <div class="row">
        <div class="col-sm-12" ui-view="header">

        </div>
    </div>

    <div class="row">
        <div class="alert alert-danger bs-alert-old-docs">
            <strong>Heads up!</strong> IE8 and the belows which is no longer officially supported. <a href="http://gc.chinacloudapp.cn/">中易內源社區歡迎您!</a>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4" ui-view="sidebar"></div>
        <div class="col-sm-8 col-md-8 col-lg-8" ui-view="body"></div>
    </div>


    <!--<hr>-->
    <!--<div class="row">-->
        <!--<div class="col-sm-12">-->
            <!--<footer ui-view="footer">-->
                <!--<div class="container" ui-view="footer">-->
                <!--</div>-->
            <!--</footer>-->
        <!--</div>-->
    <!--</div>-->

</div>



<footer class="footer navbar-fixed-bottom">
    <div class="container" ui-view="footer">
    </div>
</footer>


