
<!-- 个人/项目 -->
<div class="navbar-wrapper" ui-view="nav">
</div>

<div class="container">

    <!--<div class="row">-->
        <!--<div class="col-sm-12" ui-view="header">-->

        <!--</div>-->
    <!--</div>-->

    <div class="row">
        <div class="alert alert-danger bs-alert-old-docs animate-show">
            <strong>注意!</strong> IE8 以下的浏览器不支持！
        </div>

        <div class="col-sm-3 col-md-3 col-lg-3" ui-view="left"></div>
        <div class="col-sm-9 col-md-9 col-lg-9" ui-view="body"></div>
    </div>


    <!--<hr>-->
    <!--<div class="row">-->
        <!--<div class="col-sm-12">-->
            <!--<footer ui-view="footer">-->
                <!--<div class="container" ui-view="footer">-->
                <!--</div>-->
            <!--</footer>-->
        <!--</div>-->
    <!--</div>-->

</div>



<footer class="footer navbar-fixed-bottom">
    <div class="container" ui-view="footer">
    </div>
</footer>


